body {
  font-family: sans-serif;
}
/* ! navigation part */

li > a {
  text-decoration: none;
  color: #000;
}

.list_menu {
  margin: 0 450px 0 420px;
  width: 635px;
  height: 88px;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*? image part */

.image_section {
  width: auto;
  height: 552px;
  background-color: #00bdc9;
}

.img_position {
  margin: 90px 450px 90px 450px;
}

/** info part */

.bold_text {
  color: #04959e;
}

.title_text {
  font-weight: 600;
  font-size: 48px;
  line-height: 135%;
  text-align: center;
}

.info_text {
  margin: 0px 450px 0px 460px;
  width: 550px;
}

.button {
  border: none;
  color: white;
  background-color: #04959e;
  padding: 10px 24px;
  width: 145px;
  height: 44px;
  margin-left: 200px;
  margin-top: 20px;
}

/*? footer */
.line {
  background-color: #000;
}

.footer {
  margin: 30px 450px 30px 675px;
}
